config.stopBubbling = true
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.nonnull.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.data.flagUsage=error
lombok.value.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.with.flagUsage=error
lombok.getter.lazy.flagUsage=error
# experimental 전체 금지
lombok.experimental.flagUsage=error
