<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>기본 오류 페이지</title>
</head>
<body>
<h3>아래와 같은 오류가 발생하였습니다.</h3>
<div>
    status : <span th:text="${status}"></span>
</div>
<div>
    path : <span th:text="${path}"></span>
</div>
<div>
    error : <span th:text="${error}"></span>
</div>
<div>
    timestamp : <span th:text="${timestamp}"></span>
</div>
<div th:if="${code}">
    code : <span th:text="${code}"></span>
</div>
<div>
    message : <span th:text="${message}"></span>
</div>
<div>
    exception : <span th:text="${exception}"></span>
</div>
<div>
    trace : <span th:text="${trace}"></span>
</div>
</body>
</html>
